.born {
  display: flex;
  flex-direction: column;
  padding: 24px 0px;
  box-sizing: border-box;
  background-color: black;
  gap: 20px;
  .born-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    padding: 0px 16px;
    box-sizing: border-box;
    gap: 5px;
    .born-top {
      color: #ffd400;
      font-size: 22px;
      font-family: roboto;
      font-weight: 700;
      letter-spacing: 0.2px;
      padding-bottom: 30px;
      box-sizing: border-box;
    }
    .titleborn {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 15px;
      cursor: pointer;

      .title {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 12px;
        .bar {
          width: 6px;
          height: 32px;
          background: #ffd400;
          border-radius: 2px;
          display: inline-block;
        }

        .text {
          color: #fff;
          font-weight: 600;
          font-size: 18px;
          font-family: roboto;
          letter-spacing: 0.7px;
        }

        .chev {
          color: #fff;
          margin-left: auto;
          font-weight: 700;
          font-size: 20px;
          &:hover {
            color: #ffd400;
          }
        }
      }
    }
    .description {
      color: white;
      opacity: 0.7;
      line-height: 1.5;
      font-family: roboto;
      font-size: 16px;
      font-weight: 500;
      padding-left: 5px;
      box-sizing: border-box;
    }
  }
  .swiper {
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .celebs {
      width: 170px;
      padding: 20px 10px;
      box-sizing: border-box;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 8px;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: contain;
      }
      .name {
        color: rgba(255, 255, 255);
        font-family: roboto;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.7px;
      }
      .ratings {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        .number {
          font-family: roboto;
          color: white;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 0.7px;
          opacity: 0.7;
        }
      }
    }
  }
}
