footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 24px;
  box-sizing: border-box;
  .imdbapp {
    cursor: pointer;
    user-select: none;
    background-color: rgb(245, 197, 24);
    color: black;
    font-family: roboto;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 32px;
    box-sizing: border-box;
    line-height: 20px;
    letter-spacing: 0.2px;
    border-radius: 24px;
  }
  button {
    all: unset;
    cursor: pointer;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.08);
    color: rgb(87, 153, 239);
    font-family: roboto;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 32px;
    box-sizing: border-box;
    line-height: 20px;
    letter-spacing: 0.2px;
    border-radius: 24px;
  }
  .social-app {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .social {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
      .title {
        display: none;
      }
      .icon {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        gap: 32px;
        img {
          width: 24px;
        }
      }
    }
    .app {
      display: none;
    }
  }
  .links,
  .easy-accses {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    a {
      padding: 4px;
      box-sizing: border-box;
      text-decoration: none;
      color: white;
      font-family: roboto;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      img {
        width: 10px;
      }
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .amazon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 18px;
    img{
        width: 100%;
        height: 100%;
    }
  }
  .copyright{
    color: rgba(255, 255, 255, 0.7);
    font-family: roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin: 6px;
    box-sizing: border-box;
  }
}
