.genre {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  padding: 24px 16px;
  box-sizing: border-box;
  gap: 30px;
  user-select: none;
  .titlegenre {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;

    .title {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      gap: 12px;
      .bar {
        width: 6px;
        height: 32px;
        background: #ffd400;
        border-radius: 2px;
        display: inline-block;
      }

      .text {
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        font-family: roboto;
        letter-spacing: 0.7px;
      }

      .chev {
        color: #fff;
        margin-left: auto;
        font-weight: 700;
        font-size: 20px;
        &:hover {
          color: #ffd400;
        }
      }
    }
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .cover {
      background: #111;
      color: #fff;
      width: 220px;
      height: 162px;
      border-radius: 10px;
      overflow: hidden;
      font-family: roboto;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      padding-bottom: 10px;
      .img {
        position: relative;

        img {
          width: 100%;
          display: block;

          &:nth-child(2) {
            position: absolute;
            bottom: 2%;
            left: 8px;
            width: 40px;
            height: 32px;
            border-radius: 100%;
          }
        }
        &:hover{
          opacity: 0.8;
        }
      }
      .title {
        padding: 0 8px;
        font-family: roboto;
        font-size: 16px;
        font-weight: 400;
        color: white;
        letter-spacing: 0.5px;
        line-height: 20px;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
