.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.sidebar-menu {
  width: 300px;
  background-color: #121212;
  color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  z-index: 1000;
  transition: transform 0.3s ease-out;
  transform: translateX(-300px);
  overflow-y: auto;

  &.open {
    transform: translateX(0);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    .imdb-logo-mobile {
      display: block;
      height: 30px;
      width: auto;
    }

    .imdb-logo-desktop {
      display: none;
    }

    .close-btn {
      width: 100%;
      color: #fff;
      font-size: 28px;
      cursor: pointer;
      font-family:  roboto;
      line-height: 1;
      font-weight: 200;
      text-align: right;
      background: none;
      border: none;
      padding: 0;
      display: block;
    }
  }

  > ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;

    .menu-item {
      &.active .dropdown-arrow {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
      }

      .menu-link {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        transition: background-color 0.2s;
        border-bottom: 1px solid #222;
        font-family: roboto;
        color: white;
        letter-spacing: 0.5px;

        &:hover {
          background-color: #2a2a2a;
        }

        .icon {
          width: 24px;
          height: 24px;
          margin-right: 15px;
          object-fit: contain;
          filter: brightness(0.7);
        }

        .dropdown-arrow {
          margin-left: auto;
          font-size: 20px;
          color: #777;
          transition: transform 0.3s ease;
          text-align: center;
        }
      }

      .submenu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        overflow: hidden;
        background-color: #1a1a1a;

        li {
          a {
            display: flex;
            align-items: center;
            padding: 10px 20px 10px 50px;
            text-decoration: none;
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
            transition: background-color 0.2s;
            font-family: Roboto, roboto, Arial, sans-serif;
            letter-spacing: 0.5px;

            &:hover {
              background-color: #333;
              color: #fff;
            }

            .submenu-icon {
              width: 16px;
              height: 16px;
              margin-right: 10px;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
  .imdb-pro-section,
  .language-section {
    display: block;
    padding: 10px 15px;
    p {
      color: #ffffff;
      font-weight: 500;
      font-size: 12px;
      font-family: roboto;
      margin-bottom: 5px;
      text-transform: capitalize;
    }
    a{
      text-decoration: none;
      color: #ffffff;
      font-weight: 500;
      font-size: 12px;
      font-family: roboto;
      span{
        color: white;
      }
    }
  }

  > .imdb-pro-section:first-of-type ~ .imdb-pro-section {
    display: none;
  }
  > .language-section:first-of-type ~ .language-section {
    display: none;
  }

}
