.news {
  display: flex;
  flex-direction: column;
  padding: 24px 0px;
  box-sizing: border-box;
  gap: 20px;
  .titlenews {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    gap: 15px;
    cursor: pointer;
    padding: 0px 16px;
    .title {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      gap: 12px;
      .bar {
        width: 6px;
        height: 32px;
        background: #ffd400;
        border-radius: 2px;
        display: inline-block;
      }

      .text {
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        font-family: roboto;
        letter-spacing: 0.7px;
      }

      .chev {
        color: #fff;
        margin-left: auto;
        font-weight: 700;
        font-size: 20px;
        &:hover {
          color: #ffd400;
        }
      }
    }
  }
  .box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    .left {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 20px;
      .topnews {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        &:hover{
          opacity: 0.9;
        }
        .itemtop {
          cursor: pointer;
          display: flex;
          flex-flow: row nowrap;
          justify-content: start;
          align-items: center;
          width: 100%;
          height: 133px;
          gap: 10px;
          .img {

            width: 90px;
            height: 133px;
            img {
              border-radius: 4px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .text {
            height: 100%;
            width: 80%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: start;
            align-items: start;
            gap: 5px;
            .title {
              width: 100%;
              font-family: roboto;
              font-size: 16px;
              font-weight: 600;
              letter-spacing: 0.5px;
              color: white;
              white-space: normal;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2; 
               -webkit-box-orient: vertical;
            }
            .description {
              font-family: roboto;
              font-size: 14px;
              font-weight: 400;
              letter-spacing: 0.5px;
              color: white;
              white-space: normal;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
              display: -webkit-box;
             -webkit-line-clamp: 3; 
              -webkit-box-orient: vertical;

            }
            .date-text {
              width: 100%;
              display: flex;
              flex-flow: row nowrap;
              justify-content: start;
              gap: 10px;
              .date,
              .text {
                font-family: roboto;
                font-size: 12px;
                font-weight: 400;
                opacity: 0.7;
                color: white;
              }
            }
          }
        }
      }
      .bottomnews {
        width: 100%;
        height: 133px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        white-space: inherit;
        gap: 10px;
        .item {
          cursor: pointer;
          height: 100%;
          display: flex;
          flex: 0 0 320px;
          flex-flow: row nowrap;
          justify-content: start;
          align-items: center;
          gap: 10px;
          padding: 10px 16px;
          box-sizing: border-box;
          &:hover{
            opacity: 0.9;
          }
          .img {
            width: 70px;
            height: 100%;
            img {
              border-radius: 4px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .text {
            height: 100%;
            width: 260px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: start;
            align-items: start;
            gap: 10px;
            .title {
              font-family: roboto;
              font-size: 16px;
              font-weight: 600;
              letter-spacing: 0.5px;
              color: white;
            }
            .date-text {
              width: 100%;
              display: flex;
              flex-flow: row nowrap;
              justify-content: start;
              gap: 10px;
              .date,
              .text {
                width: fit-content;
                font-family: roboto;
                font-size: 12px;
                font-weight: 400;
                opacity: 0.7;
                color: white;
              }
            }
          }
        }
      }
    }
    .rightnews {
      display: flex;
      flex-flow: column nowrap;
      justify-content: start;
      align-items: start;
      gap: 10px;
      border: 0.8px solid rgba(227, 227, 227, 0.295);
      box-sizing: border-box;
      padding: 16px;
      .title {
        font-family: roboto;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 3px;
        color: white;
        padding-bottom: 8px;
        box-sizing: border-box;
      }
      .buttons {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        .btn {
          cursor: pointer;
          font-family: roboto;
          font-weight: 400;
          font-size: 14px;
          color: white;
          border: 0.8px solid rgba(227, 227, 227, 0.295);
          border-radius: 42px;
          background-color: black;
          padding: 6px 12px;
          margin: 0.8px;
          box-sizing: border-box;
        }
      }
    }
  }
}
