.recently{
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 16px ;
    box-sizing: border-box;
    .title{
        height: 100%;
        font-size: 18px;
        font-weight: 600;
        font-family: roboto;
        color: white;
        letter-spacing: 0.5px;
    }
    .description{
        height: 100%;
        font-size: 16px;
        font-weight: 400;
        font-family: roboto;
        color: white;
        letter-spacing: 0.5px;
    }
}