.born {
  padding: 20px 115px;
  background-color: black;
  gap: 20px;
  .born-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    padding: 0px 16px;
    box-sizing: border-box;
    gap: 5px;
    .born-top {
      font-weight: 500;
      font-size: 28px;
    }
    .titleborn {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 15px;

      .title {
        .bar {
        }

        .text {
        }

        .chev {
          &:hover {
          }
        }
      }
    }
    .description {
    }
  }
  .swiper {
  }
  .swiper-slide {
    .celebs {
      img {
        width: 200px;
        height: 200px;
      }
      .name {
      }
      .ratings {
        .number {
        }
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.405);
    padding: 8px 12px;
    border: 0.7px solid white;
    width: 16px;
    color: white;
    border-radius: 4px;

    &:hover {
      color: rgb(245, 197, 24);
    }
  }
  .swiper-button-next {
    right: 1%;
    top: 40%;
  }
  .swiper-button-prev {
    left: 0%;
    top: 40%;
  }
}
