.explore{
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  gap: 30px;
  padding: 20px 115px;
  box-sizing: border-box;
  .explore-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    padding: 0px 16px;
    box-sizing: border-box;
    gap: 5px;
    .explore-top {
      font-weight: 500;
      font-size: 28px;
    }
    .titleexplore {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 15px;
      cursor: pointer;

      .title {

        .bar {

        }

        .text {

        }

        .chev {

          &:hover {

          }
        }
      }
    }
    .description {

    }
  }
  .list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    .items {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: start;
      align-items: center;
      gap: 20px;
      .item{
        width: 40%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        align-items: center;
        gap: 20px;
        .number{
            font-family: roboto;
            font-size: 14px;
            font-weight: 500;
            color: white;
        }
        .name-price{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: start;

            .name{
                font-family: roboto;
                font-size: 16px;
                font-weight: 400;
                color: rgb(87, 153, 239);
                letter-spacing: 0.7px;
            }
            .prices{
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .old , .total{
                    font-family: roboto;
                    font-size: 14px;
                    font-weight: 400;
                    color: white;
                    opacity: 0.7;
                    letter-spacing: 0.7px;
                }
            }
        }
      }
    }
  }
}
