.featured {
  padding: 20px 115px;
  .titleFeatured {
    font-weight: 800;
    font-size: 28px;
  }
  .swiper {
    width: 65%;
    height: 100%;
    align-self: flex-start;
    margin: unset;
  }

  .swiper-slide {
    width: 420px !important;
    height: 325px;
    cursor: pointer;
    gap: 0px;
    .poster {
      width: 402px;
      height: 226px;

      img {

      }
      &::after {
      }
      .list {
        img {

        }
      }
    }
    .title {

    }
    .description {
    }
  }

  .swiper-slide img {
  }
  .swiper-button-next,
  .swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.405);
    padding: 8px 12px;
    border: 0.7px solid white;
    width: 16px;
    color: white;
    border-radius: 4px;

    &:hover {
      color: rgb(245, 197, 24);
    }
  }
  .swiper-button-next {
    right: 0%;
    top: 40%;
  }
  .swiper-button-prev {
    left: 0%;
    top: 40%;
  }
}
