footer {
  .imdbapp {
display: none;
  }
  button {
    background-color: rgb(245, 197, 24);
    color: black;

  }
  .social-app {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .social {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 15px;
      border: 0.8px solid rgba(255, 255, 255, 0.168);
     padding: 20px 50px;
     box-sizing: border-box;
     border-radius: 10px;
      .title {
        display: block;
        color: rgb(255, 255, 255);
        font-family: roboto;
        font-size: 20px;
        font-weight: 700;
        padding: 8px 32px;
        box-sizing: border-box;
        line-height: 20px;
        letter-spacing: 0.2px;
      }
      .icon {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
        img {
          width: 24px;
        }
      }
    }
    .appqr {
      display: flex;
      flex-flow:row nowrap;
      justify-content: space-between;
      gap: 80px;
      border: 0.8px solid rgba(255, 255, 255, 0.168);
     padding: 20px ;
     box-sizing: border-box;
     border-radius: 10px;
     .text{
      display: flex;
      flex-flow:column nowrap;
      justify-content: space-around;
      .title{
        display: block;
        color: rgb(255, 255, 255);
        font-family: roboto;
        font-size: 20px;
        font-weight: 700;
        padding: 8px 32px;
        box-sizing: border-box;
        line-height: 20px;
        letter-spacing: 0.2px;
       }
       .description{
        display: block;
        color: rgb(255, 255, 255 , 0.7);
        font-family: roboto;
        font-size: 16px;
        font-weight: 400;
        padding: 8px 32px;
        box-sizing: border-box;
        line-height: 20px;
        letter-spacing: 0.2px;
       }
     }
     img{
      width: 66px;
     }
    }
  }
  .links,
  .easy-accses {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    a {
      padding: 4px;
      box-sizing: border-box;
      text-decoration: none;
      color: white;
      font-family: roboto;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      img {
        width: 10px;
      }
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .amazon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 18px;
    img{
        width: 100%;
        height: 100%;
    }
  }
  .copyright{
    color: rgba(255, 255, 255, 0.7);
    font-family: roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin: 6px;
    box-sizing: border-box;
  }
}
