.genre {
  padding: 20px 115px;
  gap: 50px;
  .titlegenre {
    width: 100%;
    align-items: start;
    .title {
      .bar {
      }
      .text {
        font-size: 24px;
      }
      .chev {
        font-size: 30px;
      }
    }
  }
  .swiper {
  }

  .swiper-slide {
    justify-content: start;
    .cover {
      width: 300px;
      height: 207px;
      gap: 15px;
      .img {
        img {
          &:nth-child(2) {
          }
        }
      }
      .title {
      }
    }
  }

  .swiper-slide img {
  }
  .swiper-button-next,
  .swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.405);
    padding: 8px 12px;
    border: 0.7px solid white;
    width: 16px;
    color: white;
    border-radius: 4px;

    &:hover {
      color: rgb(245, 197, 24);
    }
  }
  .swiper-button-next {
    right: 1%;
    top: 40%;
  }
  .swiper-button-prev {
    left: 0;
    top: 40%;
  }
}
