header {
  padding: 30px 124px;
  justify-content: start;
  .left {
    flex-flow: row nowrap;
    .logo {
      margin-right: unset;
      img {
      }
    }
    .menuLogo {
      padding: 0px 16px;
      box-sizing: border-box;
      gap: 8px;
      margin-right: 5px;
      &.show-text {
        margin-top: 4px;
        font-size: 14px;
        font-weight: 700;
        font-family: Roboto, Helvetica, Arial, sans-serif;
      }
    }
  }
  .search {
    width: 670px;
    position: relative;
    z-index: 1;
    &.show-input {
      input {
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: unset;
        box-sizing: border-box;
        display: block;
        padding: 16px;
        box-sizing: border-box;
      }
    }
    img {
      display: none;
    }
    .options {
      font-family: Roboto, Helvetica, Arial, sans-serif;
      color: rgb(0, 0, 0);
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.28px;
      position: absolute;
      right: 92%;
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      border-right: 0.5px solid lightgray;
      width: 52.5px;
      height: 32px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      cursor: pointer;
      transition: 500ms;

      &:hover {
        background-color: lightgray;
      }
      .submenu {
        width: 235px;
        height: auto;
        background-color: #1f1f1f;
        position: absolute;
        top: 100%;
        left: -20%;
        margin-top: 5px;
        list-style: none;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-5px);
        transition: all 0.25s ease;
        pointer-events: none;
        li {
          padding: 15px;
          box-sizing: border-box;
          &:hover {
            background-color: #313131;
            border-bottom-right-radius: 7px;
            border-bottom-left-radius: 7px;
            a {
              img {
                filter: brightness(1);
              }
            }
          }
          a {
            display: flex;
            flex-flow: row nowrap;
            justify-content: start;
            align-items: center;
            gap: 15px;
            text-decoration: none;
            font-family: Roboto, Helvetica, Arial, sans-serif;
            color: white;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.28px;
            img {
              display: block;
              filter: brightness(0.7);
            }
          }
        }
      }
      .submenu.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        pointer-events: auto;
      }
      &.open {
        svg.arrow {
          transform: rotate(180deg);
        }
      }
      svg {
        display: inline-flex;
        position: unset;
        z-index: 2;
        right: 2%;
      }
    }
    svg {
      display: inline-flex;
      position: absolute;
      z-index: 2;
      right: 2%;
      &.arrow {
        right: -100%;
        margin-left: 5px;
        transition: transform 0.25s ease;
        transform-origin: center;
      }
    }
  }
  .right {
    margin-top: 2px;
    gap: 30px;
    .pro {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 16px;
      box-sizing: border-box;
      border-right: 0.5px solid rgba(228, 228, 228, 0.574);
      &.show-pro {
        display: block;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        color: white;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.28px;
      }
    }
    .watchlist {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      color: white;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.28px;

      &.show-item {
        display: inline-flex;
      }
    }
    .signIn {
      font-family: Roboto, Helvetica, Arial, sans-serif;
      color: white;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.28px;
      margin-right: 5px;
    }
    .useApp {
      display: none;
    }
    .lang {
      display: flex;
      flex-flow: row-reverse nowrap;
      justify-content: center;
      align-items: center;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      color: white;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.28px;
      &.show-lang {
        display: inline-flex;
      }
    }
  }
}
