header {
    padding: 30px 124px;
    justify-content: start;
    .left {
      flex-flow: row nowrap;
      .logo {
        margin-right: unset;
        img {
        }
      }
      .menuLogo {
        padding:0px 16px;
        box-sizing: border-box;
        gap: 8px;
        margin-right: 5px;
        &.show-text {
        margin-top: 4px;
          font-size: 14px;
          font-weight: 700;
          font-family: Roboto, Helvetica, Arial, sans-serif;
        }
      }
    }
    .search {
      width: 670px;
      position: relative;
      z-index: 1;
      &.show-input {
        input {
        width: 100%;
        height: 30px;
        border-radius: 5px;
      border: unset;
      box-sizing: border-box;
        display: block;
        padding: 16px;
        box-sizing: border-box;
        }
      }
      img{
       display: none;
      }
      .options{
        font-family: Roboto, Helvetica, Arial, sans-serif;
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.28px;
        position: absolute;
        right: 92%;
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        border-right: 0.5px solid lightgray;
        svg{
          position: unset;
          z-index: 2;
          right: 2%;
          
        }
      }
      svg{
        position: absolute;
        z-index: 2;
        right: 2%;
        &.arrow{
          right: -100%;
        }
      }
    }
    .right {
     margin-top: 2px;
        gap: 30px;
      .pro {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 16px ;
        box-sizing: border-box;
        border-right: 0.5px solid rgba(228, 228, 228, 0.574);
        &.show-pro {
          display: block;
          font-family: Roboto, Helvetica, Arial, sans-serif;
          color: white;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 0.28px;
        }
      }
      .watchlist {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        color: white;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.28px;

        &.show-item {
          display: inline-flex;
        }
      }
      .signIn {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        color: white;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.28px;
        margin-right: 5px;
      }
      .useApp {
        display: none;
      }
      .lang{
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: center;
        align-items: center;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        color: white;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.28px;
        &.show-lang{
          display: inline-flex;

        }
      }
    }
  }
  