.sidebar-overlay {
  background-color: rgba(18, 18, 18, 0.98);
}
.sidebar-menu {
  width: 100%;
  height: 100vh;
  left: 0;
  transform: translateY(-100%);
  padding: 40px 220px;
  box-sizing: border-box;
  border: none;
  background-color: #1F1F1F;
  transition: transform 0.3s ease;
  &.open {
    transform: translateY(0);
    overflow-y: auto;
  }
  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding: 0;
    .imdb-logo-mobile {
      display: none;
    }

    .imdb-logo-desktop {
      display: block;
      width: 100px;
    }

    .close-btn {
      width: unset;
      justify-self: flex-end;
      background-color: #f5c518;
      color: #000000;
      font-size: 30px;
      cursor: pointer;
      font-family: roboto;
      font-weight: 100;
      border: none;
      padding: 11px 16px;
      border-radius: 50%;
      display: block;
    }

    .close-btn:hover {
      background-color: #c49f1c;
    }
  }

  .imdb-pro-section,
  .language-section {
    display: none !important;
  }

  > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px 35px;
    margin: 0;
    padding: 0;
    list-style: none;

    .menu-item {
      border: none;

      .menu-link {
        font-weight: bold;
        font-size: 22px;
        padding: 10px 0;
        border: none;
        color: #fff;
        text-decoration: none;
        display: inline-block;
      }

      .menu-link:hover {
        color: unset;
      }
      .icon {
        width: 30px;
        height: 30px;
        margin-right: unset;
        object-fit: contain;
        fill: #f5c518;
      }

      .dropdown-arrow {
        display: none;
      }

      .submenu {
        display: block !important;
        background-color: transparent;
        margin-top: 8px;
        list-style: none;
        padding-left: 40px;

        li {
          a {
            display: block;
            padding: 8px 0;
            font-size: 15px;
            font-weight: 400;
            color: #ffffff;
            text-decoration: none;
            transition: color 0.2s ease;
          }

          a:hover {
           text-decoration: dashed;
          }
        }
      }
    }
  }
}
