.signin {
  height: 450px;
  padding: 20px 115px;
  .watch-header {
    .title {
      font-size: 28px;
    }
    .more-link {
      &:hover {
      }
    }
  }
  .watch-main {
    align-items: center;
    background-color: rgb(0, 0, 0);
    .left-nav {
      align-self: flex-start;
      .watchlist-link {
        .bar {
        }
        .text {
          font-size: 22px;
        }
        .chev {
        }
      }
    }
    .center {
      img {
      }
      .center-heading {
      }
      .center-sub {
      }
      .signin-btn {
        &:hover {
        }
      }
    }
  }
}
