.soon {
  padding: 20px 115px;
  .soon-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    padding: 0px 16px;
    box-sizing: border-box;
    gap: 5px;
    .titlesoon {
      .title {
        .bar {
        }

        .text {
          font-size: 22px;
        }

        .chev {
          &:hover {
          }
        }
      }
    }
    .description {
    }
  }
  .swiper {
  }
  .swiper-slide {
    width: 404px !important;
    height: 360px;
    justify-content: start;
    align-items: start;
    flex-flow: column nowrap;
    gap: 7px;
    padding: 0px 5px;
    box-sizing: border-box;
    .poster {
      width: 100%;
      height: 227px;
      img {
      }
      &::after {
      }
      .list {
        bottom: 0%;
        left: 0%;
        img {
          width: 48px;
          height: 48px;
        }
      }
    }
    .text {
      .left {
      }
      .right {
        .title {
          font-size: 18px;
        }
        .date {
          font-size: 14px;
        }
        .ratings {
          .likes,
          .hearts {
            img {
            }
          }
        }
      }
    }
  }
  .swiper-slide img {
  }
}
