*{
    margin: 0;
    padding: 0;
}
#app{
    width: 100%;
    background-color: black;
}
@font-face {
    font-family: roboto;
    src: url("../../public/fonts/Roboto-Regular.eot");
    src: url("../../public/fonts/Roboto-Regular.ttf");
    src: url("../../public/fonts/Roboto-Regular.woff");
    src: url("../../public/fonts/Roboto-Regular.woff2");
}
